{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} Главная {% endblock %} :: Доска объявлений</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <header>
            <h1>Объявления</h1>
        </header>
        <nav>
            <a href="{% url 'index' %}">Главная</a>
            <a href="{% url 'add' %}">Добавить</a>
            {% for cat in category %}
            <a href="{% url 'categories' cat.pk %}">{{ cat.name }}</a>
            {% endfor %} 
        </nav>
        <section>
            {% block content %}
            {% endblock %}
        </section>
    </body>
</html>